.centre{
	margin: auto;
	/* text-align: center; */
}

.main3{
	margin: auto;
	text-align: center;
	border: solid black 2px;
	width: 310px;
	height: 310px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

}
.mainWin{
	margin: auto;
	text-align: center;
	border: solid black 2px;
	width: 310px;
	height: 310px;
}

.block{
	text-align: center;
	line-height: 100px;
	border: solid black 1px ;
	font-size: large;
	font-weight: bold;
}

.images{
	max-width: 100%;
	max-height: 100%;
	}
.texte{
	position: relative;
	bottom: 140px;
	color: blue;
}
.texteWin{
	text-align: center;
	font-size: large;
	color: blue;
}
.data{
	position: absolute;
	left: 345px;
	top: 100px;
	display: flex;
	width : 100px;
	height: 120px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: solid black 1px

}

button{
	width:90px;
	height: 20px;
	border-radius: 12px;
	background-color: coral;
}

button:hover {
	background-color: white;
}