<div class="centre">
  <div *ngIf="hasWon" [class]="'main-Win' + ' ' + 'main-Win-' + orderedTiles">
    <img [src]="sourceContent(0)" class="images" />
    <strong class="texte texte-Win">Gagné en {{ counter }} coups !</strong>
  </div>
  <div *ngIf="!hasWon" [class]="'main' + ' ' + 'main-' + orderedTiles">
    <div
      *ngFor="let content of orderedTiles"
      [class]="'block' + ' ' + 'block-' + orderedTiles"
      (click)="swap(content)"
    >
      <img
        *ngIf="content !== 0"
        [src]="sourceContent(content)"
        alt="photo_case"
        class="images"
      />
      <span *ngIf="content !== 0" class="texte">{{ content }}</span>
    </div>
  </div>
</div>

<div [class]="'data' + ' ' + 'data-' + orderedTiles">
  <span>Nombre de coups: {{ counter }}</span>
  <button class="button" (click)="restart()">Restart</button>
</div>
